/*IIC*/
.instructivoMainContainer
{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.backgroundInstructivo
{
  position: absolute;
}
.IICtopRightArrow
{
  position: absolute;
  width: 300px;
  height: 230px;
}

.IICtopArrow
{
  position: absolute;
  width: 300px;
  height: 230px;
}

.IICRightArrow
{
  position: absolute;
  width: 300px;
  height: 230px;
}

.IICDownArrow
{
  position: absolute;
  width: 300px;
  height: 230px;
}

.IICLeftArrow
{
  position: absolute;
  width: 300px;
  height: 230px;
}
.instructivoItem
{
  position: relative;
  width: 300px;
  height: 230px;
  border-radius: 4px;
  color: #59585a;
  background: #FFFEFC;

}
.intructivoInfo
{
  text-align: justify;
  position: relative;
  float: right;
  padding: 15px 20px 0px 20px;
  width: 260px;
  height: 120px;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.intructivoInfoBV
{
  position: relative;
  float: right;
  padding: 15px 20px 15px 20px;
  width: 260px;
  height: 120px;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.intructivoActionsContainer
{
  text-align: center;
  position: relative;
  float: right;
  width: 100%;
  height: 55px;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}
.intructivoActionsContainer p
{
  display: inline;
  color: #59585a;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.instructivoBtnCerrar
{
  position: relative;
  float: right;
  width: 15px;
  height: 20px;
  margin-right: 20px;
  margin-top: 20px;
  color: #59585a;
  background-color: transparent;
  background-image: url(../img/lightbox_cerrar_gris.svg);
  background-size: 100% 100%;
  border: none;
  border-radius: 4px;
}
.instructivoBtnAction
{
  position: relative;
  width: 100px;
  height: 30px;
  color: #59585a;
  background: #FFFEFC;
  border: 1px solid #59585a;
  margin: 5px 25px 20px 25px;
  border-radius: 4px;
}

.instructivoBtnAction:active
{
  color: #FFFEFC;
  background: #59585a;
}

.IICtopRightArrow::after
{
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #FFFEFC;
  top: -20px;
  right: 40px;
  z-index: 1;
}

.IICtopArrow::after
{
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #FFFEFC;
  top: -20px;
  right: 135px;
  z-index: 1;
}

.IICRightArrow::after
{
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border-left: 20px solid #FFFEFC;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  top: 100px;
  right:0px;
  margin-right: -20px;
  z-index: 1;
}

.IICDownArrow::after
{
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FFFEFC;
  bottom: -20px;
  right: 135px;
  z-index: 1;
}
.IICLeftArrow::after
{
  position: absolute;
  content: ' ';
  height: 0;
  width: 0;
  border-right: 20px solid #FFFEFC;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  top: 100px;
  left: -20px;
  z-index: 1;
}
