.contenedorAnimacion
{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.4);
  z-index: 8;
}

.contenedorImgAnimacion
{
  position: absolute;
  height: 50px;
  width: 112px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -56px;
  z-index: 8;
}
