.menuNavegacion
{
  position: absolute;
  right: 2.5%;
  top: 0px;
  width: 184px;
  height: 110px;
  z-index: 4;
  border-radius: 0px 0px 4px 4px;
  background: #F37520;
}

.mnLogo
{
  position: relative;
  width: 100%;
  height: 52%;
  text-align: center;
}

.mnBotones
{
  position: relative;
  width: 100%;
  height: 48%;

}

.menuSecContainer
{
    position: relative;
    width: 160px;
    height: 12px;
    box-shadow: 0px 1px 0px #ff8e14;
    border-radius: 4px 4px 4px 4px;
    top: 10px;
    left: 12px;
}
.menuSec
{
  position: relative;
  display: flex;
  cursor: pointer;
  width: 38.5px;
  height: 12px;
  float: left;
  margin-right: 2px;
  box-shadow: 0px 1px 0px #ff8e14;
  background: #d45b00;
}

.circulo {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  background: #d45b00;
  margin: auto;
}

.bordeDerechoCompleto
{
  border-radius: 2px 0px 0px 2px;
}

.bordeizquierdoCompleto
{
  border-radius: 0px 2px 2px 0px;
  margin-right: 0px;
}

.infoMenuContainer
{
  overflow: hidden;
  position: relative;
  width: 160px;
  height: 15px;
  top: 15px;
  left: 12px;
}

#infoMenuLeftText h1
{
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: white;
  font-size: 9pt;
  margin: 0;
  float: left;
}


.infoMenuContainer img
{
  margin:auto;
  height: 100%;
  float: left;
}


.iconoInfoMenuContainer
{
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 20px;
  float: right;
  display: flex;
}

.iconoInfoMenuContainer h1
{
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: white;
  font-size: 9pt;
  float: right;
  margin: auto;
}
