.mainContainer
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../images/iconos/config_bg.jpg");
  background-size: cover;
}
.imgFondoSP
{
  position: relative;;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#btnRegresar
{
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;

  position: relative;
  float: left;
  top: 5%;
  left: 35%;
  width: 130px;
  height: 100px;

  margin-left: -75px;
  background-color: #F37520;
  border-radius: 0px 0px 4px 4px;
  /*-moz-border-radius: 0px 0px 7px 7px;*/
  /*-webkit-border-radius: 0px 0px 7px 7px;*/
  /*border: 4px ;*/
  box-shadow: 0px 4px 0px #D45B00;
  border-width: 1px;
  border-color: #F37520 #F37520 #FF8E14 #F37520;
  border-style: solid;

}

.textoMenuBoton
{

  display: inline;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-shadow: 0px 2px 0 #D45B00;
}

.simbolo
{

  display: inline;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  text-shadow: 0px 2px 0 #D45B00;
}

#btnRegresar:hover h1
{
  text-shadow: 0px 2px 0 #DB660D;
}
#btnRegresar:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #DB660D;
  border-color: #FF7E1C #FF7E1C #FFA217 #FF7E1C;

  text-shadow: 0px 10px 0 #DB660D;
}
#btnRegresar:active h1
{
  text-shadow: 0px 2px 0 #B54E00;
}
#btnRegresar:active
{
  background-color: #CF6015;
  box-shadow:
        inset 0px 4px 0px 0px #B54E00;
  border-radius: 4px 4px 4px 4px ;
  border-width: 1px;
  border-color: #CF6015 #CF6015 #CF6015 #CF6015;
}

#btnSolicitar
{
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;

  position: relative;
  float: left;
  top: 5%;
  left: 50%;
  width: 130px;
  height: 100px;

  margin-left: -60px;
  background-color: #F37520;
  border-radius: 0px 0px 4px 4px;
  /*-moz-border-radius: 0px 0px 7px 7px;*/
  /*-webkit-border-radius: 0px 0px 7px 7px;*/
  /*border: 4px ;*/
  box-shadow: 0px 4px 0px #D45B00;
  border-width: 1px;
  border-color: #F37520 #F37520 #FF8E14 #F37520;
  border-style: solid;

}
#btnSolicitar:hover h1
{
  text-shadow: 0px 2px 0 #DB660D;
}
#btnSolicitar:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #DB660D;
  border-color: #FF7E1C #FF7E1C #FFA217 #FF7E1C;

  text-shadow: 0px 10px 0 #DB660D;
}
#btnSolicitar:active h1
{
  text-shadow: 0px 2px 0 #B54E00;
}
#btnSolicitar:active
{
  background-color: #CF6015;
  box-shadow:
        inset 0px 4px 0px 0px #B54E00;
  border-radius: 4px 4px 4px 4px ;
  border-width: 1px;
  border-color: #CF6015 #CF6015 #CF6015 #CF6015;
}
.btnSP
{
  position: relative;
  top:0px;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  color: #fff;
}

button:focus
{
  outline:0;
}

button::-moz-focus-inner {
  border: 0;
}


.sp_container
{
  text-align: justify;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;

  position: absolute;
  width: 70%;
  height: 80%;
  top: 50%;
  left: 50%;
  margin-left: -35%;
}

.imgMonitor
{
  position: relative;
  width: 365px;
  height: 130px;
  margin: 0 auto;
}

.imgFlecha
{
  position:absolute;
  height:20px;
  width:18px;
  top:50%;
  margin-top:-9px;
}

.textSp_container
{
  color: #5a5957;
}
