body
{
  overflow: hidden;
}
#sliderSec3
{
  position: absolute;
  top: 88%;
  margin-top: -35px;
}


.sliderSec3PG
{
  width:300px;
  height: 140px;
  left: 50%;
  margin-left: -150px;
}
.sliderSec3PC
{
  width: 300px;
  height: 130px;
  left: 50%;
  margin-left: -150px;
}

#sliderSec2
{
  width: 300px;
  height: 100px;
  left: 50%;
  top: 2%;
  margin-left: -150px;
}



#mainRender
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#btnContinuarBloque_2
{
  position: absolute;
  height: 60px;
  width: 250px;
  background-color: #F37520;
  border-radius: 0px 0px 4px 4px;
  /*-moz-border-radius: 0px 0px 7px 7px;*/
  /*-webkit-border-radius: 0px 0px 7px 7px;*/
  /*border: 4px ;*/
  box-shadow: 0px 4px 0px #D45B00;
  border-width: 1px;
  border-color: #F37520 #F37520 #FF8E14 #F37520;
  border-style: solid;
  right: 2.5%;
  bottom: 50px;
  z-index: 3;

}
#btnContinuarBloque_2:hover h1
{
  text-shadow: 0px 2px 0 #DB660D;
}
#btnContinuarBloque_2:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #DB660D;
  border-color: #FF7E1C #FF7E1C #FFA217 #FF7E1C;

  text-shadow: 0px 10px 0 #DB660D;
}
#btnContinuarBloque_2:active h1
{
  text-shadow: 0px 2px 0 #B54E00;
}
#btnContinuarBloque_2:active
{
  background-color: #CF6015;
  box-shadow:
        inset 0px 4px 0px 0px #B54E00;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: #CF6015 #CF6015 #CF6015 #CF6015;
}

#sliderBloque_2
{
	position: relative;
	width:90px;
  height: 420px;
	text-align:center;
  top: 300px;
  left: 100px;
	z-index: 3;
}

.btn_bloque_2
{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 125px;
  z-index: 3;
  background: blue;
  border: none;
  cursor: pointer;
}

.up
{
  top: 250px;
}

.down
{
  top: 740px;
}

.btn_bloque_2 img
{
  width: 100%;
  height: 100%;
  display: block;
}

.slicks_bloque_2
{
  width: 100%;
  padding:5px;
  cursor: pointer;
}

.slicks_bloque_2:hover img
{
  -webkit-filter:grayscale(1);
}

.imgSliderBloque_2
{
  width:100%;
  height:100%;
}



.contInfoSlider
{
  position: relative;
  border-radius: 4px 4px 4px 4px;
  border-width: 0px;
  border-style: solid;
  box-shadow: 2px 2px 5px #888888;
	background: #FFFEFC;
}

.contInfoSliderPG
{
  width: 160px;
  height: 230px;
  left: 75px;
}

.contInfoSliderPC
{
  width: 135px;
  height: 193.5px;
  left: 65px;
}

.contInfoSliderOnePG
{
  top: -100px;
}


.contInfoSliderOnePG:after {
	content: ' ';
	height: 0;
  width: 0;
	position: absolute;
  border-width: 29px;
  border-style: solid;
  border-color: transparent #FFFEFC transparent transparent;
  top: 90px;
	left: -40px;
  z-index: 1;
}

.contInfoSliderDoblePG
{
  top: -200px;
}

.contInfoSliderDoblePG:after {
	content: ' ';
	height: 0;
  width: 0;
	position: absolute;
  border-width: 29px;
  border-style: solid;
  border-color: transparent #FFFEFC transparent transparent;
  top: 190px;
	left: -40px;
  z-index: 1;
}

.contInfoSliderOnePC
{
  top: -80px;
}


.contInfoSliderOnePC:after {
	content: ' ';
	height: 0;
  width: 0;
	position: absolute;
  border-width: 29px;
  border-style: solid;
  border-color: transparent #FFFEFC transparent transparent;
  top: 70px;
	left: -40px;
  z-index: 1;
}

.contInfoSliderDoblePC
{
  top: -175px;
}

.contInfoSliderDoblePC:after {
	content: ' ';
	height: 0;
  width: 0;
	position: absolute;
  border-width: 29px;
  border-style: solid;
  border-color: transparent #FFFEFC transparent transparent;
  top: 165px;
	left: -40px;
  z-index: 1;
}

.contInfoSliderDoblePCUltimo
{
  top: -225px;
}

.contInfoSliderDoblePCUltimo:after {
	content: ' ';
	height: 0;
  width: 0;
	position: absolute;
  border-width: 29px;
  border-style: solid;
  border-color: transparent #FFFEFC transparent transparent;
  top: 215px;
	left: -40px;
  z-index: 1;
}
.titleInfoContainer
{
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  border-width: 0px;
  border-style: solid;
  background: #FFFEFC;
}

.titleInfoContainerPG
{
  height: 60px;
}
.titleInfoContainerPC
{
  height: 51px;
}

.titleInfoContainerPG h1
{
  font-size: 18px;
}

.titleInfoContainerPG p
{
  font-size: 13px;
  top:-5px;
  left: 5px;
}

.titleInfoContainerPC h1
{
  font-size: 15px;
}

.titleInfoContainerPC p
{
  top:-7.5px;
  left: 2.5px;
  font-size: 10px;
}

.titleInfoContainer h1,p,img
{
  position: relative;
  display: inline;
}

.titleInfoContainer img
{
  top:-5px;
}

.titleInfoContainer h1
{
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #595959;
}
.titleInfoContainer p
{
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #808080;
}

.titleInfo
{
  position: relative;
}

.titleInfoPG
{

  top: 10px;
  margin: 10px;
}

.titleInfoPC
{
  top: 5px;
  margin: 5px;
}

.itemInfoContainer
{
  float: left;
}

.itemInfoContainerPG
{
  width: 160px;
  height: 170px;
}

.itemInfoContainerPC
{
  width: 135px;
  height: 143.5px;
}

.imgItem
{
  position: relative;
  width: 100%;
  height: 170px;
  z-index: 1;
  float: left;
	z-index: 2;
}

.infoItemContainer
{
  overflow: hidden;
  height: 0px;
  background: #52B03F;
  border-bottom-width: 1px ;
  border-bottom-style: solid;
  border-bottom-color:#65C94A;
  z-index: 1;
}

.infoItem
{
  margin: 10px;
}

.infoItemContainer h1,p,img
{
  position: relative;
  display: inline;
  color: #fff;

}
.infoItemContainer h1
{
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.infoItemContainer p
{
  top: 10px;
  left:5px;
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
}

.imgCEinfoItem
{
  top:10px;
}

.imgCEInfoContainer
{
  position: absolute;
  z-index: 3;
}

.imgCEInfoContainerPG
{
  left: 130px;
  top:60px;
  width: 30px;
}

.imgCEInfoContainerPC
{
  left: 115px;
  top:60px;
  width: 20px;
}

.barra_horizontal_bloque_2
{
  position:relative;
  height: 1px;
  color:#fff;
  top: -15px;
}


.btn_sec_3:hover div.infoItemContainer
{
  border-bottom-color: #3c9930;
}

.bordeIzquierdo
{
  border-radius: 0px 0px 0px 4px;
}

.bordeDerecho
{
  border-radius: 0px 0px 4px 0px;
}

.bordeIzquierdoDerecho
{
  border-radius: 0px 0px 4px 4px;
}

.btn_sec_3
{
  position: absolute;
  border-width: 0px;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #78E05C;
  background-color: #65C94A;
  box-shadow: 0px 4px 0px  #4DA635;
  z-index: 2;
}

.btn_sec_3_PG
{
  height: 38px;
  width: 160px;
  top:188px;
}
.btn_sec_3_PC
{
  top:161.5px;
  height: 28px;
  width: 135px;
}

.btn_sec_3:hover
{
  border-bottom-width: 1px;
  border-bottom-color:  #71D656;
  background-color: #52B03F;
  box-shadow: 0px 4px 0px  #3C9930;
}

.btn_Item
{
  top:0px;
  width: 100%;
  height: 34px;
  background: none;
  border: none;
  cursor: pointer;
  /*Para el texto */
  color:#FFF;
  font-family:  "ingra-2";
  font-style: normal;
  font-weight: 500;
  font-size:15px;
  text-shadow: 0px 1px  #3C9930;
}

/*Maquetacion para solo mostrar botones*/
.leftMenu
{
	position: absolute;
  top: 50%;
  left: 50px;
	z-index: 2;
	display: flex;
	flex-flow: row wrap;
}
.leftMenuPC
{
  width:60px;
  height: 300px;
  margin-top: -150px;
}
.leftMenuPG
{
  width:100px;
  height: 400px;
  margin-top: -200px;
}

.leftMenuExtended
{
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
}

.leftContainer
{
	position: relative;
  background: orange;
  cursor: pointer;
  background-size: 100%;
  margin: auto;
}

.leftContainerPC
{
  width: 48px;
  height: 48px;
}

.leftContainerPG
{
  width: 58px;
  height: 58px;
}

.leftContainerExtended
{
	position: relative;
  cursor: pointer;
  margin: auto;
}

.leftContainerExtendedPG
{
  width: 48px;
  height: 48px;
}

.leftContainerExtendedPC
{
  width: 38px;
  height: 38px;
}

.keyMenu
{
  position: relative;
	display: none;

}
.keyMenuPG
{
  width:100px;
  height: 350px;
  top: -150px;
  left: 57px;
}
.keyMenuPC
{
  width:80px;
  height: 250px;
  top: -100px;
  left: 47px;
}

.keyMenuTwoPG
{
  height: 250px;
  top: -95px;
  left: 57px;
}

.keyMenuTwoPC
{
  height: 150px;
  top: -50px;
  left: 47px;
}

.keyMenuTooPG
{
  height: 550px;
  top: -250px;
  left: 57px;
}

.keyMenuTooPC
{
  height: 450px;
  top: -200px;
  left: 47px;
}

.keyItemContainer
{
	position: relative;
	height: 95%;
	top: 3%;
	display: flex;
	flex-flow: row wrap;
}

.keyItemContainerPG
{
  width: 70px;
  left: 10px;
}

.keyItemContainerPC
{
  width: 50px;
  left: 0px;
}

.keyMenuLlave
{
  position: relative;
	left: 10px;
	float: left;
  height: 100%;
	z-index: 1;
}

.keyMenuLlavePG
{
  	width: 30px;
}

.keyMenuLlavePC
{
  	width: 20px;
}

.relleno:hover
{
		fill: #000;
}

form
{
  background: rgba(245, 244, 242, .4);
  padding: 20px;
}

.disponible
{
  top: -50%;
  color: black;
  z-index: 2;
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 500;
  left: 4%;
  right: 4%;
}
