#correo
{
  z-index: 1;
  position: relative;
  top: 100px;

}
#correo label
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
    font-family: "ingra",sans-serif;
    font-style: normal;
    font-weight: 500;
}
#correo form {
  margin:0 auto;
  width:459px;
}
#correo input, textarea
{
  width:439px;
  height:17px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  /*font-size:0.9em;*/
  color:#3a3a3a;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 500;
}

textarea {
	height:     auto;
  max-height: 73px;
	/*background:url(images/textarea-bg.jpg) right no-repeat #efefef;*/
}

#correo input:focus, textarea:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2);
}
#correo #submit
{
    width:127px;
    height:38px;
    background-color :#D45B00;
    /*text-indent:-9999px;*/
    margin-top:20px;
    cursor:pointer;
    font-family: "ingra-2",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    background-color: #F37520;
    box-shadow: 0px 4px 0px #DB660D;
    border-color: #F37520 #F37520 #FF8E14 #F37520;
    text-shadow: 0px 2px 0 #D45B00;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
}

#correo	#submit:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #DB660D;
  border-color: #FF7E1C #FF7E1C #FFA217 #FF7E1C;
  text-shadow: 0px 2px 0 #DB660D;
}
#correo	#submit:active
{
  background-color: #CF6015;
  box-shadow:
        inset 0px 4px 0px 0px #B54E00;
  border-radius: 4px 4px 4px 4px ;
  border-width: 1px;
  border-color: #CF6015 #CF6015 #CF6015 #CF6015;
}
#mail-error-box
{
  color: red;
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

#name-error-box
{
  color: red;
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.inputError
{
  box-shadow:inset 0 1px 1px rgba(255, 0, 0, 0.2), 0 0 8px rgba(255, 0, 0, 0.5);
  border:1px solid red;

}

.despedidaContainer
{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.4);
  z-index: 8;
}

.despedidaInfoContainer
{
  position: absolute;
  height: 150px;
  width: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -150px;
  background: white;
  z-index: 8;
  color: black;
  font-family: "ingra", sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  border-radius: 4px;

  /*padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;*/
}
.despedidaInfoContainer p
{
  font-family: "ingra", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  position: absolute;

  color: #595959;
  height: 135px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.divButton
{
  position: relative;
  height: 60px;
  width: 100%;
  bottom: -90px;
  border-color: #F37520 #F37520 #FF8E14 #F37520;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 0px #D45B00;
}
.divButton:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #B54E00;
  /*border-color: #F37520 #F37520 #FFA217 #F37520;*/
}
.divButton:active
{
  background-color: #CF6015;
  box-shadow: 0px 0px 0px #DB660D;
  border-radius: 4px 4px 4px 4px;
  /*border-color: #F37520 #F37520 #FFA217 #F37520;*/
}
.buttonDespedida
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F37520;
  box-shadow: 0px 4px 0px #D45B00;
  border-width: 1px;
  border-color: #F37520 #F37520 #FF8E14 #F37520;
  border-style: solid;
  border-radius: 0px 0px 4px 4px;
  color: white;
  text-shadow: 0px 2px 0 #D45B00;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}
.buttonDespedida:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #DB660D;
  border-color: #F37520 #F37520 #FFA217 #F37520;
  text-shadow: 0px 2px 0 #DB660D;
}
.buttonDespedida:active
{
  background-color: #CF6015;
  box-shadow:
        inset 0px 4px 0px 0px #B54E00;
  /*border-color: #F37520 #F37520 #FFA217 #F37520;*/
  text-shadow: 0px 2px 0 #B54E00;
  border-radius: 4px 4px 4px 4px;
}
