body
{

  font-size: 100%;
  user-select: none;
  -webkit-user-select: none;
 -moz-user-select: -moz-none;
}

footer
{
  position: absolute;
  display: none;
  z-index: 10;
  height: 16px;
  background-color: rgba(212, 91, 0, 0.5);
  top: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

footer p
{
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  margin-bottom: 2px;
  top: -4px;
}

.horizontalLine
{
  margin-left: 15px;
}
#google-container
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}



.menuInfoOculto
{
  /*bottom: 100 px;*/
  height: 350px;
}

/*.menuInfoVisible
{
  bottom: 53px;
  height: 250px;
}*/

#slider
{
  position: relative;

  width: 250px;
  height: 150px;
  background: rgb(255, 255, 255, 0);

  /*-moz-border-radius: 7px 7px 0px 0px;*/
  /*-webkit-border-radius: 7px 7px 0px 0px;*/
  /*border: 7px;*/
}

.next:active
{
  src:'img/cards_anterior_hover.svg';
}

.prev:active
{
  src:'img/cards_anterior_hover.svg';
}


#seleccionaTerreno
{
  position: absolute;
  width: 250px;
  bottom: 2.5%;
  right: 2.5%;
}
@-webkit-keyframes expand{
    0%{height:0px}
    100%{height:135px}
}
#infoTerreno
{
  position: relative;
  width: 250px;
  height: 135px;
  background: url('../../images/iconos/card_bg.png');

  background-color: #FFFEFC;
  background-size: 55%;
  background-position: right bottom;
  background-repeat: no-repeat;
  animation-name: expand;
  animation-duration: 0.5s;
}
#infoText
{
  position: relative;
  /*width: 100%;*/
  height: 105px;
  background: url('../../images/iconos/card_bg.png');

  background-color: #FFFEFC;
  background-size: 51%;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 4px 4px 0px 0px;
}

#informacionTerreno
{
  position: absolute;
  width: 250px;
  bottom: 2.5%;
  right: 2.5%;
}

.infoTextVisible
{

    border-left: 4px ;
    border-right: 4px;

}

.infoTextOculto
{
  border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
  border-top: 4px ;
  border-left: 4px ;
  border-right: 4px ;
  height: 135px;
}

#infoText h1 h2
{
  display:inline;
  /*padding-left: 5%;*/

}
#infoText p
{
  padding-left: 5%;

}

#btnContinuar_gris{
  position: relative;
  /*width: 100%;*/
  height: 60px;
  background-color: #D6D4D2;
  border-radius: 0px 0px 4px 4px;
  font-family: "ingra-2", sans-serif;
  font-style: normal;
  font-weight: 500;
  /*font-size: 17px;*/
  /*-moz-border-radius: 0px 0px 7px 7px;*/
  /*-webkit-border-radius: 0px 0px 7px 7px;*/
  /*border: 4px ;*/
  box-shadow: 0px 4px 0px #B5B2AC;
  border-width: 1px;
  border-color: #D6D4D2 #D6D4D2 #E8E8E8 #D6D4D2;
  border-style: solid;
}
#btnContinuar p
{
  color: #FFF;
  /*top: 0px;*/
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-shadow: 0px 2px 0 #D45B00;
}
#btnContinuar .btnContinuar #simbolo
{
  color: #FFF;
  text-shadow: 0px 2px 0 #D45B00;
  top: 2px;
  left: -3px;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
}
#btnContinuar
{
  position: relative;
  /*width: 100%;*/

  height: 60px;
  background-color: #F37520;
  border-radius: 0px 0px 4px 4px;
  /*-moz-border-radius: 0px 0px 7px 7px;*/
  /*-webkit-border-radius: 0px 0px 7px 7px;*/
  /*border: 4px ;*/
  box-shadow: 0px 4px 0px #D45B00;
  border-width: 1px;
  border-color: #F37520 #F37520 #FF8E14 #F37520;
  border-style: solid;

}
#btnContinuar:hover p
{
  text-shadow: 0px 2px 0 #DB660D;
}
#btnContinuar:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #DB660D;
  border-color: #FF7E1C #FF7E1C #FFA217 #FF7E1C;

  text-shadow: 0px 10px 0 #DB660D;
}
#btnContinuar:active p
{
  text-shadow: 0px 2px 0 #B54E00;
}
#btnContinuar:active
{
  background-color: #CF6015;
  box-shadow:
        inset 0px 4px 0px 0px #B54E00;
  border-radius: 4px 4px 4px 4px ;
  border-width: 1px;
  border-color: #CF6015 #CF6015 #CF6015 #CF6015;
}
.imgContinuar
{
  position: absolute;
  right: 10%;
  width: 10%;
  top: 4px;
}

.btnContinuar
{
  top:0px;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.textoMenuInfo
{
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  display:inline;
  left: 20px;
  top: 20px;
  color: #595959;
  height: 135px;
}
.textoInfoTerreno
{
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  position: absolute;
  display:inline;
  /*margin: 100px 150px 100px 80px;*/
  left: 20px;
  top: 40px;
  right: 10px;
  color: #595959;

}
.textoInfoTerreno_2
{
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  position: absolute;
  display:inline;
  /*margin: 100px 150px 100px 80px;*/
  left: 35px;
  top: 88px;
  color: #808080;

}
.horizontalLine
{
  position: relative;
  top: 4px;
  left: 5px;
}
.compass
{
  position: relative;
  left: 20px;
  top: 44px;
}
#btnContinuar_gris .btnContinuar .textoMenuBoton
{
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;


  /*position: relative;*/
  /*display: inline-block;*/
  /*color: white;*/
  /*top: 0px;*/

  text-shadow: 0px 2px 0 #B5B2AC;
  /*color: rgba(255, 255, 255, 1);*/

}
#btnContinuar_gris .btnContinuar #simbolo
{
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  top:2px;
  /*left: -3px;*/
  text-shadow: 0px 2px 0 #B5B2AC;
}


/* Clases para agregar botones de zoom personalizados*/
#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #F37520;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../../img/bloque_1/cd-icon-controller.svg");
}
#cd-zoom-in:hover, #cd-zoom-out:hover {
  background-color: #FF7E1C;
}

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}

#cd-zoom-out {
  background-position: 50% -32px;
}
#canvas1
{
  position: absolute;
  /*height: 100%;
  width: 100%;
  margin: 0px;*/
  z-index: 3;
}
