.escalaGrises
{
  -webkit-filter:grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}


div.marker
{
  position:absolute;
  cursor: pointer;
  border-radius: 5px;
  width: 140px;
  height:80px;

  background-color: #FFFEFC;
}


div.marker:after {
	content: ' ';
	height: 0;
  width: 0;
	position: absolute;
  border-left:20px solid transparent; /* izquierda flecha */
  border-right:20px solid transparent; /* derecha flecha */
  border-top:20px solid #FFFEFC; /*rgba(255, 255, 255 , 1);*/ /* base flecha y color*/
  top: 80px;
	left: 50px;
  z-index: 1;
}

div.markerDown
{
  position:absolute;
  cursor: pointer;
  border-radius: 5px;
  width: 140px;
  height:80px;

  background-color: #FFFEFC;
  z-index: 8;
}

div.markerDown:after
{
  content: ' ';
	height: 0;
  width: 0;
	position: absolute;
  border-left:20px solid transparent; /* izquierda flecha */
  border-right:20px solid transparent; /* derecha flecha */
  border-bottom:20px solid #FFFEFC; /*rgba(255, 255, 255 , 1);*/ /* base flecha y color*/
  top: -20px;
	left: 50px;
  z-index: 1;
}

div.markerClicked
{
  position:absolute;
  cursor: pointer;
  border-radius: 5px;
  width: 140px;
  height:80px;

  background-color: #FFFEFC;

}

div.markerClicked:after {
  content: ' ';
	height: 0;
  width: 0;
	position: absolute;
  border-left:20px solid transparent; /* izquierda flecha */
  border-right:20px solid transparent; /* derecha flecha */
  border-top:20px solid #FFFEFC; /*rgba(255, 255, 255 , 1);*/ /* base flecha y color*/
  top: 80px;
	left: 50px;
  z-index: 1;
}

div.markerClickedDown
{
  position:absolute;
  cursor: pointer;
  border-radius: 5px;
  width: 140px;
  height:80px;

  background-color: #FFFEFC;
}

div.markerClickedDown:after
{
  content: ' ';
	height: 0;
  width: 0;
	position: absolute;
  border-left:20px solid transparent; /* izquierda flecha */
  border-right:20px solid transparent; /* derecha flecha */
  border-bottom:20px solid #FFFEFC; /*rgba(255, 255, 255 , 1);*/ /* base flecha y color*/
  top: -20px;
	left: 50px;
  z-index: 1;
}

div img {-webkit-transition:-webkit-filter 0.3s ease-in-out;}
div.g {-webkit-filter: grayscale(1);}
