.container {
  position: relative;
  height: 100%;
  background: rgb(255, 255, 255, 0);
  margin: 0 auto;
  border-radius: 7px 7px 0px 0px;

}
.container div {
  background-color: black;
  width: 100%;
  height: 100%;

  display: inline-block;
  display: none;
  border-radius: 7px 7px 0px 0px;

}
.container img {
  width: 100%;
  height: 100%;
  border-radius: 7px 7px 0px 0px;

}

button.next,button.prev {
  position: absolute;
  top: 42%;
  width: 15%;
  height: 20%;
  z-index: 1;
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button.next {
  right: 0;

}

button.prev {
  left: 0;
}


button.prev:hover {
  background-color: rgba(0,0,0,0);
}

button.next img,button.prev img
{
  width:35%;
}
