
#leftMenuSplit
{
  position: absolute;
  top: 0px;
  right: 10%;
  width: 10%;
  height: 100%;
  z-index: 2;


}

.label {
  box-sizing:border-box;
  background: #05F24C;
  box-shadow: 2px 2px 4px #333;
  border:5px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  -webkit-animation: pulse 1s ease 1s 3;
  -moz-animation: pulse 1s ease 1s 3;
  animation: pulse 1s ease 1s 3;
}



#pantallaCompletaContainer
{
  position: absolute;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,.9);
  z-index: 3;
}

#imagenPantallaCompleta
{
  position: relative;
  width: 25%;
  height: 70%;
  top: 15%;
  background:url('../img/modelo.png');
  background-repeat: no-repeat;
  webkit-background-size: 100% 100%;
 -moz-background-size: 100% 100%;
 -o-background-size: 100% 100%;
  background-size: 100% 100%;
  margin: 0 auto;
}


#botonCerrar
{
  position: relative;
  top: -10%;
  left: 95%;
  width: 10%;
  height: 7.5%;
  border:0px;
  background:url('../img/cerrarIcono.png');
  background-repeat: no-repeat;
  webkit-background-size: 100% 100%;
 -moz-background-size: 100% 100%;
 -o-background-size: 100% 100%;
  background-size: 100% 100%;

}
