#planta03
{
  position: relative;
  top:0px;
}
#seccion_2
{
  position: absolute;
  width: 1200px;
  height: 633px;

  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -600px;

}

#btnContinuarPlantas
{
  position: relative;
  height: 60px;
  background-color: #F37520;
  border-radius: 0px 0px 4px 4px;
  font-family: "ingra-2", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  /*-moz-border-radius: 0px 0px 7px 7px;*/
  /*-webkit-border-radius: 0px 0px 7px 7px;*/
  /*border: 4px ;*/
  box-shadow: 0px 4px 0px #D45B00;
  border-width: 1px;
  border-color: #F37520 #F37520 #FF8E14 #F37520;
  border-style: solid;

}
#btnContinuarPlantas:hover h1
{
  text-shadow: 0px 2px 0 #DB660D;
}
#btnContinuarPlantas:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #DB660D;
  border-color: #FF7E1C #FF7E1C #FFA217 #FF7E1C;

  text-shadow: 0px 10px 0 #DB660D;
}
#btnContinuarPlantas:active h1
{
  text-shadow: 0px 2px 0 #B54E00;
}
#btnContinuarPlantas:active
{
  background-color: #CF6015;
  box-shadow:
        inset 0px 4px 0px 0px #B54E00;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: #CF6015 #CF6015 #CF6015 #CF6015;
}

#btnVista360
{
  position: relative;
  width: 248px;
  height: 60px;
  left: 950px;
  top: 60px;
  background-color: #F37520;
  border-radius: 0px 0px 4px 4px;
  font-family: "ingra-2", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  /*-moz-border-radius: 0px 0px 7px 7px;*/
  /*-webkit-border-radius: 0px 0px 7px 7px;*/
  /*border: 4px ;*/
  box-shadow: 0px 4px 0px #D45B00;
  border-width: 1px;
  border-color: #F37520 #F37520 #FF8E14 #F37520;
  border-style: solid;

}
#btnVista360:hover h1
{
  text-shadow: 0px 2px 0 #DB660D;
}
#btnVista360:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #DB660D;
  border-color: #FF7E1C #FF7E1C #FFA217 #FF7E1C;

  text-shadow: 0px 10px 0 #DB660D;
}
#btnVista360:active h1
{
  text-shadow: 0px 2px 0 #B54E00;
}
#btnVista360:active
{
  background-color: #CF6015;
  box-shadow:
        inset 0px 4px 0px 0px #B54E00;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: #CF6015 #CF6015 #CF6015 #CF6015;
}

.llave_planta_baja
{
  left:22.5%;
  width: 10%;
  height: 12%;
}

.llave_plantas_segPiso
{
  position: relative;
  top: 10px;
  left:30px;
  width: 300px;
  height: 20px;
  text-align: center;
}
.llave_plantas_segPiso img
{
  width: 100%;
  height: 160%;
}

.llave_plantas_segPiso h1
{
  color: #595959;
  font-size: 10pt;
  display:inline;
}

.llave_plantas_TerPiso
{
  position: relative;
  top: 10px;
  left:30px;
  width: 350px;
  height: 20px;
  text-align: center;
}
.llave_plantas_TerPiso img
{
  width: 100%;
  height: 160%;
}

.llave_plantas_TerPiso h1
{
  color: #595959;
  font-size: 10pt;
  display:inline;
}

.llave_plantas_pbPiso
{
  position: relative;
  top: 10px;
  left:40px;
  width: 120px;
  height: 20px;
  text-align: center;
}
.llave_plantas_pbPiso img
{
  width: 100%;
  height: 160%;
}

.llave_plantas_pbPiso h1
{
  color: #595959;
  font-size: 10pt;
  display:inline;
}
.bordesRedondeados
{
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

.planta
{
  position: relative;
  width: 200px;
  height: 336px;
  z-index: 1;
  float: left;
}

.contenedorPlanta
{
  position: absolute;
  float: left;
  top: 0px;

  width: 400px;
  height: 336px;
}

#segPiso
{
  margin-right: 30px;
}

#plantaBaja
{
  position: relative;
  float: left;
  width: 200px;
  height: 336px;
  left: 0px;
  top: 0px;

}


#segPiso_2
{
  left: -38px;
}
#terPiso_2
{
  left: 10px;
}
#segPiso
{
  left: 160px;
}
#terPiso
{
  left: 520px;
}


.menuModelo
{
  position: relative;
  width: 250px;
  height: 336px;
  top: 0px;
  left:950px;
  z-index: 1;
  border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
}
/*Contenedor de la imagen del menu modelo*/
.imgContainerMenuModelo
{
  height: 110px;
  background-image: url('/img/fondo.jpg');
  background-size: 100% 100%;
  border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;

}
.imgContainerMenuModelo object
{
  position: absolute;
  height: 50px;
  right: 20px;
  padding-top: 30px;

}
.imgContainerMenuModelo p
{
  position: absolute;
  left: 20px;
  font-family: "ingra";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.imgContainerPlantas
{
  height: 250px;
  width: 200px;
  margin-top: 36px;
  position: absolute;
  z-index: 0;
}
#infoTextSec_2
{
  position: relative;
  height: 202px;
  background:  url('../../../images/iconos/card_bg.png');
  background-size: 55%;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #FFF;
}
/*Boton continuar menu modelo */
.infoTextSec_2 #infoPisos
{
  position: absolute;
  height: 142px;
  width: 230px;
  left: 20px;
  top: 10px;
}
.infoTextSec_2 #infoPisos .infoTitulo
{
  font-family: "ingra";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: #808080;

}
.infoTextSec_2 #infoPisos .infoDatos
{

  font-family: "ingra";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #595959;
}

#infoPisos img
{
  position: absolute;
  cursor: pointer;
  width: 80px;
  height: 70px;
  right: 10px;
  top: 5px;
}

.btn_container_modelo
{
  position: relative;
  height: 60px;
  border-radius: 0px 0px 4px 4px;
  border-width: 1px;
  background: #F37520;
  box-shadow: 0px 4px 0px #D45B00;
  border-width: 1px;
  border-color: #F37520 #F37520 #FF8E14 #F37520;
  border-style: solid;
}

.btn_container_modelo:hover
{
  background-color: #FF7E1C;
  box-shadow: 0px 4px 0px #DB660D;
  border-color: #FF7E1C #FF7E1C #FFA217 #FF7E1C;

}
.btn_container_modelo:active
{
  background-color: #CF6015;
  box-shadow: 0px 4px 0px #B54E00;
  border-color: #CF6015 #CF6015 #CF6015 #CF6015;
}

/* El boton */
.btn_modelo
{
  position: absolute;
  /*top:5px;*/
  left: 0px;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;

  /*Para el texto */
  color:#FFF;
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  text-shadow: 0px 2px 0 #D45B00;
  /*text-shadow: 0px 1px  #D45B00;*/
}
#btnContinuarPlantas .btn_modelo .textoMenuBoton
{
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-shadow: 0px 2px 0 #D45B00;
}
#btnContinuarPlantas .btn_modelo #simbolo
{
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  text-shadow: 0px 2px 0 #D45B00;
  top:2px;
  /*left: -3px;*/
}

#btnContinuarBloque_2 .btn_modelo .textoMenuBoton
{
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-shadow: 0px 2px 0 #D45B00;

}
#btnContinuarBloque_2 .btn_modelo #simbolo
{
  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  top:2px;
  left: 0px;
  text-shadow: 0px 2px 0 #D45B00;
}

/* Contenedor para el boton */
.btn_container_plantas_2
{
  position: relative;
  height: 34px;
  width: 152px;
  margin-left: 24px;
  margin-top:298px;
  border-radius: 0px 0px 4px 4px;
  border-width: 0px;
  border-style: solid;
}

.btn_container_plantas_3
{
  position: relative;
  height: 34px;
  width: 200px;
  margin-top:298px;
  border-radius: 0px 0px 4px 4px;
  border-width: 0px;
  border-style: solid;
}
.btn_container_plantas_m
{
  position: relative;
  height: 34px;
  width: 125px;
  margin-left: 37.5px;
  margin-top: 298px;
  border-radius: 0px 0px 4px 4px;
  border-width: 0px;
  border-style: solid;
}

/* El boton */
.btn_plantas
{
  top:0px;
  width: 100%;
  height: 34px;
  background: none;
  border: none;
  cursor: pointer;
  /*Para el texto */
  color:#FFF;

  font-family: "ingra-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

/* Cuando esta agregado */
.btn_plantas_sel
{
  border-bottom-width: 1px;
  border-bottom-color: #78E05C;
  background-color: #65C94A;
  box-shadow: 0px 4px 0px  #4DA635;
}
.btn_plantas_sel_m
{
  border-bottom-width: 1px;
  border-bottom-color: #78E05C;
  background-color: #65C94A;
  box-shadow: 0px 4px 0px  #4DA635;
}




.btn_plantas_sel button.btn_plantas:before
{
  content: attr(data-content);
}
.btn_plantas_sel_m button.btn_plantas:before
{
  content: 'Agregada ✓';
  text-shadow: 0px 1px #3C9930;
}

/* Cuando esta deseleccionado */
.btn_plantas_des
{
  border-bottom-width: 1px;
  border-bottom-color: #E8E8E8;
  background-color: #D6D4D2;
  box-shadow: 0px 4px 0px #B5B2AC;
}

/* Cuando esta deseleccionado y se pasa el mouse*/

.btn_plantas_des button.btn_plantas::before
{
  content: attr(data-content) ;
  text-shadow: 0px 1px #B5B2AC;
}

.btn_plantas_des:hover button.btn_plantas::before
{
  text-shadow: 0px 1px #3C9930;
}
/*Contenedor para la info de la planta*/
.infoPlanta
{
  overflow: hidden;
  width: 100%;
  height: 0px;
  border-bottom-width: 1px ;
  border-bottom-style: solid;
}

.infoPlanta h1
{
  position: relative;
  display: inline;
  top:10px;
  left: 10px;
  color: #fff;
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  max-width: 105px
}



.infoPlanta p
{
  position: relative;
  display: inline;
  top:10px;
  left: 10px;
  color: #fff;
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
}
.infoPlanta_des
{
  background: #52B03F;
  border-bottom-color:#D6D4D2;
}

.infoPlanta_des_m
{
  background: #52B03F;
  border-bottom-color:#65C94A;
}



.infoPlanta_sel
{
  background: #E64949;
  border-bottom-color: #65C94A;
}


.barra_horizontal
{
  position:relative;
  height: 1px;
  color:#fff;
  left:10px
}

.btn_plantas_det
{
  position: relative;
  left: 50%;
  margin-left: -48px;
  top: 15px;
  background: none;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  border-width: 2px;
  border-style: solid;
  color: #fff;
  /*aqui van 14*/
  font-family: "ingra",sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
}

.btn_plantas_det:hover
{
  background: #fff;
}

.imgSliderPlantas
{
  width:100%;
  height:100%;
}
.textoModelo
{
  color: #F37520;
  font-family: "ingra-2";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.verDetalleContainer
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(128, 128, 128, 0.7);
  z-index: 4;
}
.imgZoomContainer
{
  position: relative;
  width: 98%;
  height: 97%;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 6px 6px 6px 6px;
  z-index: 4;
}

.rielImgContainer
{
  position: absolute;
  width: 100%;
  background: purple;
}

.cerrarZoomContainer
{
  position: absolute;
  text-align: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  top: 0px;
  right: 5%;
  margin-right: -35px;
  background: #F37520;
  line-height: 70px;
  z-index: 6;
}
.imgRefContainer
{
  position: absolute;
  width: 200px;
  height: 250px;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 6px 0px 6px;
}

.refBox
{
  position: relative;
  width: 100%;
  height: 83.3px;
  background: rgba(0,255,0,0.8);
}

div .imgRefContainer img
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.up_zoom
{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  background: none;
  z-index: 5;
}
.down_zoom
{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: none;
  z-index: 6;
}

.background
{
  position: absolute;
  width: 98%;
  height: 97%;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 6px 6px 6px 6px;
  z-index: 3;

}
